<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ontology</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        #header-row {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .hierarchy-card {
            margin-bottom: 20px;
        }
        .definition {
            font-style: italic;
            margin-left: 8px;
        }
        .local {
            color: black;
        }
        .inherit {
            color: grey;
        }
        .blocked {
            color: red;
            text-decoration: line-through;
        }
        .override {
            color: grey;
            text-decoration: line-through;
        }

        .filler {}

        .from-field {
            font-size: xx-small;
            color: grey;
        }
        .recent {
            font-size: small;
        }
        .name {
            font-size: larger;
        }
        .inline-edit-button {
            padding: 0rem 0.15rem;
            font-size: 0.65rem;
            line-height: 1.5;
            width: 18px;
        }

        #definition-readonly {
            display: block;
        }

        #definition-readwrite {
            display: none;
        }

        #insert-property .form-control-sm {
            margin-right: 5px;
        }
    </style>

    <script>

        var concept = "{{ payload.name }}";

        function enable_disable_insert_property() {
            if ($("#insert-property-slot-field").val() != "" &&
                $("#insert-property-facet-field").val() != "" &&
                $("#insert-property-filler-field").val() != "") {
                $("#insert-property-button").prop("disabled", false);
            } else {
                $("#insert-property-button").prop("disabled", true);
            }
        }

        function enable_disable_add_concept() {
            if ($("#add-concept-name-field").val() != "" &&
                $("#add-concept-parent-field").val() != "" &&
                $("#add-concept-definition-field").val() != "") {
                $("#add-concept-button").prop("disabled", false);
            } else {
                $("#add-concept-button").prop("disabled", true);
            }
        }

        function edit_definition(definition) {
            var data = {
                "definition": definition
            };

            $.ajax({
                url: "/ontology/edit/define/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        function insert_property(slot, facet, filler) {
            var data = {
                "slot": slot,
                "facet": facet,
                "filler": filler
            };

            $.ajax({
                url: "/ontology/edit/insert/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        function remove_property(slot, facet, filler) {
            var data = {
                "slot": slot,
                "facet": facet,
                "filler": filler
            };

            $.ajax({
                url: "/ontology/edit/remove/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        function block_property(slot, facet, filler) {
            var data = {
                "slot": slot,
                "facet": facet,
                "filler": filler
            };

            $.ajax({
                url: "/ontology/edit/block/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        function unblock_property(slot, facet, filler) {
            var data = {
                "slot": slot,
                "facet": facet,
                "filler": filler
            };

            $.ajax({
                url: "/ontology/edit/unblock/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        function add_parent(parent) {
            var data = {
                "parent": parent
            };

            $.ajax({
                url: "/ontology/edit/add_parent/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        function remove_parent(parent) {
            var data = {
                "parent": parent
            };

            $.ajax({
                url: "/ontology/edit/remove_parent/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        function add_concept(name, parent, definition) {
            var data = {
                "concept": name,
                "parent": parent,
                "definition": definition
            };

            $.ajax({
                url: "/ontology/edit/add_concept",
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                window.location = "/ontology/view/" + name;
            }).fail(function(error) {
                console.log(error);
            });
        }

        function remove_concept(includeUsages) {
            var data = {
                "include_usages": includeUsages
            };

            $.ajax({
                url: "/ontology/edit/remove_concept/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                window.location = "/ontology/view/all";
            }).fail(function(error) {
                console.log(error);
            });
        }

    </script>

    <script>
        function go() {
            var search = $("#search-input").val();
            window.location.href = "/ontology/view/" + search;
        }

        $(document).ready(function() {
            $("#search-button").on("click", function() {
                go();
            });
            $("#search-input").on("keyup", function(e) {
                if (e.key == "Enter") {
                    go();
                }
            });
            $("#hide-inherit-filter").on("change", function() {
                if ($("#hide-inherit-filter")[0].checked) {
                    $(".row-inherit").hide();
                    $(".inherit").hide();
                    $(".from-field").hide();
                } else {
                    $(".row-inherit").show();
                    $(".inherit").show();
                    $(".from-field").show();
                }
            });
            $("#definition-readwrite-button").on("click", function() {
                $("#definition-readonly").css("display", "none");
                $("#definition-readwrite").css("display", "flex");
            });
            $("#definition-readwrite-cancel-button").on("click", function() {
                $("#definition-readonly").css("display", "block");
                $("#definition-readwrite").css("display", "none");
            });
            $("#definition-readwrite-update-button").on("click", function() {
                var definition = $("#definition-readwrite-input").val();
                edit_definition(definition);
            });
            $("#insert-property-slot-field").on("keyup", function() {
                enable_disable_insert_property();
            });
            $("#insert-property-facet-field").on("keyup", function() {
                enable_disable_insert_property();
            });
            $("#insert-property-filler-field").on("keyup", function() {
                enable_disable_insert_property();
            });
            $("#insert-property-button").on("click", function() {
                var slot = $("#insert-property-slot-field").val();
                var facet = $("#insert-property-facet-field").val();
                var filler = $("#insert-property-filler-field").val();
                insert_property(slot, facet, filler);
            });
            $(".remove-property-button").on("click", function(e) {
                var target = $(e.currentTarget);
                var slot = target.data("slot");
                var facet = target.data("facet");
                var filler = target.data("filler");
                remove_property(slot, facet, filler);
            });
            $(".block-property-button").on("click", function(e) {
                var target = $(e.currentTarget);
                var slot = target.data("slot");
                var facet = target.data("facet");
                var filler = target.data("filler");
                block_property(slot, facet, filler);
            });
            $(".unblock-property-button").on("click", function(e) {
                var target = $(e.currentTarget);
                var slot = target.data("slot");
                var facet = target.data("facet");
                var filler = target.data("filler");
                unblock_property(slot, facet, filler);
            });
            $("#add-parent-button").on("click", function() {
                var parent = $("#add-parent-field").val();
                add_parent(parent);
            });
            $(".remove-parent-button").on("click", function(e) {
                var target = $(e.currentTarget);
                var parent = target.data("parent");
                remove_parent(parent);
            });
            $("#add-concept-name-field").on("keyup", function() {
                enable_disable_add_concept();
            });
            $("#add-concept-parent-field").on("keyup", function() {
                enable_disable_add_concept();
            });
            $("#add-concept-definition-field").on("keyup", function() {
                enable_disable_add_concept();
            });
            $("#add-concept-button").on("click", function() {
                var name = $("#add-concept-name-field").val();
                var parent = $("#add-concept-parent-field").val();
                var definition = $("#add-concept-definition-field").val();
                add_concept(name, parent, definition);
            });
            $("#remove-concept-confirm-button").on("click", function() {
                var includeUsages = $("#remove-concept-with-usages-check")[0].checked;
                remove_concept(includeUsages);
            });
        });
    </script>

</head>
<body>
<div class="container">
    <div id="header-row" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% if "error-not-found" in payload %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ payload["error-not-found"] }}</strong> does not exist.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-info" type="button" id="search-button">Go</button>
                        </div>
                        <input id="search-input" type="text" class="form-control" placeholder="" aria-label="Find a concept by name" aria-describedby="search-button">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" id="new-concept-button" data-toggle="modal" data-target="#addConceptModal">New</button>
                        </div>
                    </div>

                    {% if "recent" in payload and payload["recent"]|length > 0 %}
                        <div class="recent">
                            Recent:
                            {% set comma = joiner(" • ") %}
                            {% for recent in payload["recent"] %}
                                {{ comma() }}
                                <a href="/ontology/view/{{ recent }}">{{ recent }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card hierarchy-card">
                <div class="card-header">
                    IS-A
                </div>
                <div class="card-body">
                    {% for parent in payload.isa %}
                        <div>
                            <button type="button" class="btn btn-danger remove-parent-button inline-edit-button" data-parent="{{ parent }}"><i class="fas fa-trash"></i></button>
                            <a href="/ontology/view/{{ parent }}" style="margin-left: 4px;">{{ parent }}</a>
                        </div>
                    {% endfor %}
                    <div id="add-parent" style="margin-top: 5px;">
                        <form class="form-inline">
                            <button id="add-parent-button" type="button" class="btn btn-success inline-edit-button mb-2"><i class="far fa-plus-square"></i></button>
                            <div class="form-group mx-sm-2 mb-2">
                                <input type="text" class="form-control form-control-sm" id="add-parent-field" placeholder="Parent">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card hierarchy-card">
                <div class="card-header">
                    SUBCLASSES
                </div>
                <div class="card-body">
                    {% for subclass in payload.subclasses %}
                        <div><a href="/ontology/view/{{ subclass }}">{{ subclass }}</a></div>
                    {% endfor %}
                </div>
            </div>
            <div class="card hierarchy-card">
                <div class="card-header">
                    SIBLINGS
                </div>
                <div class="card-body">
                    {% for sibling in payload.siblings %}
                        <div><a href="/ontology/view/{{ sibling }}">{{ sibling }}</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <a id="report-button" class="btn btn-sm btn-info inline-edit-button mb-1" role="button" href="/ontology/view/report/{{ payload.name }}"><i class="fas fa-chart-pie"></i></a>
                    <button id="remove-concept-button" class="btn btn-sm btn-danger inline-edit-button mb-1" type="button" data-toggle="modal" data-target="#removeConceptModal"><i class="fas fa-trash"></i></button>
                    <span class="name" style="margin-left: 5px;"><strong>{{ payload.name }}</strong></span>
                    <div class="custom-control custom-checkbox float-right">
                        <input type="checkbox" class="custom-control-input" id="hide-inherit-filter">
                        <label class="custom-control-label" for="hide-inherit-filter">Hide Inherited?</label>
                    </div>
                </div>
                <div class="card-body">
                    <div style="margin-bottom: 10px;">
                        <div id="definition-readonly">
                            <button id="definition-readwrite-button" type="button" class="btn btn-primary inline-edit-button"><i class="far fa-edit"></i></button>
                            <span class="definition">"{{ payload.metadata.definition }}"</span>
                        </div>
                        <div id="definition-readwrite" class="input-group">
                            <div class="input-group-prepend">
                                <button id="definition-readwrite-update-button" class="btn btn-sm btn-success" type="button"><i class="far fa-save"></i></button>
                                <button id="definition-readwrite-cancel-button" class="btn btn-sm btn-danger" type="button"><i class="fas fa-ban"></i></button>
                            </div>
                            <input id="definition-readwrite-input" type="text" class="form-control form-control-sm" placeholder="{{ payload.metadata.definition }}" value="{{ payload.metadata.definition }}">
                        </div>
                        <div id="insert-property" style="margin-top: 5px;">
                            <form class="form-inline">
                            <button id="insert-property-button" disabled type="button" class="btn btn-success inline-edit-button mb-2"><i class="far fa-plus-square"></i></button>
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="text" class="form-control form-control-sm" id="insert-property-slot-field" placeholder="Slot">
                                <input type="text" class="form-control form-control-sm" id="insert-property-facet-field" placeholder="Facet">
                                <input type="text" class="form-control form-control-sm" id="insert-property-filler-field" placeholder="Filler">
                            </div>
                            </form>
                        </div>
                    </div>
                    <table class="table table-sm table-striped table-borderless">
                        {% for slotfacet in payload["properties"] %}
                            <tr class="row-{{ slotfacet.status }}">
                                <td><a class="{{ slotfacet.status }}" href="/ontology/view/{{ slotfacet['slot'] }}">{{ slotfacet["slot"] }}</a></td>
                                <td><span class="{{ slotfacet.status }}">{{ slotfacet["facet"] }}</span></td>
                                <td>
                                    {% for filler in slotfacet["fillers"] %}
                                        <div>
                                            {% if filler["blocked"] %}
                                                <button type="button" class="btn btn-success unblock-property-button inline-edit-button" data-slot="{{ slotfacet.slot }}" data-facet="{{ slotfacet.facet }}" data-filler="{{ filler.filler }}"><i class="fas fa-ban"></i></button>
                                            {% elif filler["from"] is none %}
                                                <button type="button" class="btn btn-danger remove-property-button inline-edit-button" data-slot="{{ slotfacet.slot }}" data-facet="{{ slotfacet.facet }}" data-filler="{{ filler.filler }}"><i class="fas fa-trash"></i></button>
                                            {% else %}
                                                <button type="button" class="btn btn-danger block-property-button inline-edit-button" data-slot="{{ slotfacet.slot }}" data-facet="{{ slotfacet.facet }}" data-filler="{{ filler.filler }}"><i class="fas fa-ban"></i></button>
                                            {% endif %}

                                            {% if filler["is_relation"] %}
                                                <a class="filler {{ filler.status }}" href="/ontology/view/{{ filler.filler }}">{{ filler.filler }}</a>
                                            {% else %}
                                                <span class="filler {{ filler.status }}">{{ filler.filler }}</span>
                                            {% endif %}

                                            {% if filler["from"] is not none %}
                                                <span class="from-field">from <a class="from-field" href="/ontology/view/{{ filler.from }}">{{ filler.from }}</a></span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addConceptModal" tabindex="-1" role="dialog" aria-labelledby="addConceptModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addConceptModalLabel">Add New Concept</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control form-control-sm" id="add-concept-name-field" placeholder="Concept" style="margin-bottom: 5px;">
                            <input type="text" class="form-control form-control-sm" id="add-concept-parent-field" placeholder="Parent" style="margin-bottom: 5px;">
                            <input type="text" class="form-control form-control-sm" id="add-concept-definition-field" placeholder="Definition" style="margin-bottom: 5px;">
                            <p><em>*Additional parents can be defined after the concept has been created.</em></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="add-concept-button" disabled type="button" class="btn btn-sm btn-success" data-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeConceptModal" tabindex="-1" role="dialog" aria-labelledby="removeConceptModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeConceptModalLabel">Remove {{ payload.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="form-group mx-sm-3 mb-2">
                            <p>Are you sure you want to permanently delete this concept?</p>
                            <div class="form-check">
                            <input checked class="form-check-input" type="checkbox" value="" id="remove-concept-with-usages-check">
                            <label class="form-check-label" for="remove-concept-with-usages-check">
                                Remove usages too?
                            </label>
                            <p><em>*Removed usages include IS-A and all other relations.  Children are not removed.</em></p>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="remove-concept-confirm-button" type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>