<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concept Report</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        #header-row {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .hierarchy-card {
            margin-bottom: 20px;
        }
        .inline-edit-button {
            padding: 0rem 0.15rem;
            font-size: 0.65rem;
            line-height: 1.5;
            width: 18px;
        }
        .recent {
            font-size: small;
        }
    </style>

    <script>
        function go() {
            var search = $("#search-input").val();
            window.location.href = "/ontology/view/report/" + search;
        }

        function remove_property(concept, slot, facet, filler) {
            var data = {
                "slot": slot,
                "facet": facet,
                "filler": filler
            };

            $.ajax({
                url: "/ontology/edit/remove/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        function remove_parent(concept, parent) {
            var data = {
                "parent": parent
            };

            $.ajax({
                url: "/ontology/edit/remove_parent/" + concept,
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                location.reload();
            }).fail(function(error) {
                console.log(error);
            });
        }

        $(document).ready(function() {
            $("#search-button").on("click", function() {
                go();
            });
            $("#search-input").on("keyup", function(e) {
                if (e.key == "Enter") {
                    go();
                }
            });
            $(".remove-property-button").on("click", function(e) {
                var target = $(e.currentTarget);
                var concept = target.data("concept");
                var slot = target.data("slot");
                var facet = target.data("facet");
                var filler = target.data("filler");
                remove_property(concept, slot, facet, filler);
            });
            $(".remove-child-button").on("click", function(e) {
                var target = $(e.currentTarget);
                var parent = target.data("parent");
                var child = target.data("child");
                remove_parent(child, parent);
            });
        });
    </script>

</head>
<body>

<div class="container">
    <div id="header-row" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-info" type="button" id="search-button">Go</button>
                        </div>
                        <input id="search-input" type="text" class="form-control" placeholder="" aria-label="Find a concept by name" aria-describedby="search-button">
                    </div>

                    {% if recent|length > 0 %}
                        <div class="recent">
                            Recent:
                            {% set comma = joiner(" • ") %}
                            {% for r in recent %}
                                {{ comma() }}
                                <a href="/ontology/view/report/{{ r }}">{{ r }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card hierarchy-card">
                <div class="card-header">
                    SUBCLASSES
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped table-borderless">
                        {% for subclass in report.usage.subclasses %}
                            <tr>
                                <td><button type="button" class="btn btn-danger remove-child-button inline-edit-button" data-parent="{{ report.name }}" data-child="{{ subclass }}"><i class="fas fa-trash"></i></button></td>
                                <td><a href="/ontology/view/{{ subclass }}">{{ subclass }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <em>*Removing a subclass breaks the IS-A connection, but does not remove the concept itself.</em>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <span style="margin-left: 5px;">Explicit usages of </span>
                    <a class="name" href="/ontology/view/{{ report.name }}"><strong>{{ report.name }}</strong></a>
                    :
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped table-borderless">
                        {% for inverse in report.usage.inverses %}
                            <tr>
                                <td><button type="button" class="btn btn-danger remove-property-button inline-edit-button" data-concept="{{ inverse.concept }}" data-slot="{{ inverse.slot }}" data-facet="{{ inverse.facet }}" data-filler="{{ inverse.filler }}"><i class="fas fa-trash"></i></button></td>
                                <td><a href="/ontology/view/{{ inverse.concept }}">{{ inverse.concept }}</a></td>
                                <td><a href="/ontology/view/{{ inverse.slot }}">{{ inverse.slot }}</a></td>
                                <td>{{ inverse.facet }}</td>
                                <td>{{ inverse.filler }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>